<div class="row gy-0 gx-12 gx-xl-12">
  <div class="col-xl-12">
    <div class="card card-xl-stretch mb-12 mb-xl-12">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Pagina 2</span>
          <span class="text-muted mt-1 fw-bold fs-7">Demo</span>
        </h3>
        <!--<div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user">
          <a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">

            <span class="svg-icon svg-icon-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black" />
                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                      </svg>
                    </span>
            New Member</a>
        </div>-->
      </div>
      <div class="card-body py-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid doloribus facilis ipsa laborum laudantium libero molestias nam obcaecati quasi quia reprehenderit similique sint, ullam. Commodi cupiditate dolores exercitationem expedita voluptate.</p>
      </div>
    </div>
  </div>
</div>
