<div class="row gy-0 gx-12 gx-xl-12">
  <div class="col-xl-12">
    <div class="card card-xl-stretch mb-12 mb-xl-12">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Usuaios</span>
          <span class="text-muted mt-1 fw-bold fs-7">Usuarios registrados</span>
        </h3>
        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click para agregar usuario">
          <a class="btn btn-sm btn-light btn-active-primary" (click)="addUser()" >

            <span class="svg-icon svg-icon-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black" />
                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                      </svg>
                    </span>
            Nuevo usuario</a>
        </div>
      </div>
      <div class="card-body py-3">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-striped table-bordered row-border hover"
          width="100%"
        >
          <thead>
          <tr>
            <th align="center">ID</th>
            <th align="center">Nombre</th>
            <th align="center">Correo</th>
            <th align="center">Opciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td align="center">{{ usuario.id }}</td>
            <td align="center">{{ usuario.name }}</td>
            <td align="center">{{ usuario.email }}</td>
            <td align="center">
              <button
                class="btn btn-info btn-sm"
                (click)="accion(usuario.mkey);"
              >
                <i class="bi bi-pencil"></i>
              </button>
              &nbsp;
              <button
                class="btn btn-danger btn-sm"
                (click)="borrar(usuario.mkey);"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
